<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Tracker</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="container">
        <div class="heading">
            <h1>Finance Tracker</h1>
            <img src="https://img.icons8.com/office/344/money-bag.png" alt="">
        </div>
        <div class="main">
        <div class="content">
            <h2>Manage your
              finances              
                </h2>
            <p>Tracking your finances is essential. It tells you where exactly you spend.
            With this finance tracker, you can add your daily expenses and figure out your montly expenditure.
            
            </p>
         
           <button><a href="/get-started">Get Started

            <img src="https://img.icons8.com/ios/26/forward--v1.png" alt="">
           </a></button> 
        </div>
        <div class="image">
            <img src="https://img.freepik.com/free-vector/young-investors-working-profit-dividend-revenue_74855-6143.jpg?t=st=1650216538~exp=1650217138~hmac=79825271fa852d86ceae3d11a1e6058f6373fac707d6d9b0b1adffd69c4b87df&w=1060" alt="">
        </div>
    </div>
    </div>
</body>
</html>